

.about-title { 
    font-family: 'Rickmortytitle', sans-serif; 
    text-align: center; 
    margin: 50px 0; 
    padding-top: 50px ;
    color: #333; 
}

.about-title h1 {
    font-family: 'Rickmortytitle', sans-serif;
    font-size: 10vw; 
    margin: 0; 
    color: #23c7c1; 
    
}

.about-title h1 {
    -webkit-animation: glow 3s ease-in-out infinite alternate;
    -moz-animation: glow 3s ease-in-out infinite alternate;
    animation: glow 3s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #01ff01, 0 0 20px #01ff01, 0 0 25px #01ff01, 0 0 30px #01ff01, 0 0 35px #01ff01;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 15px #01ff01, 0 020px #01ff01, 0 0 25px #01ff01, 0 0 30px #01ff01, 0 0 35px #01ff01, 0 0 40px #01ff01;
    }
  }


  .hello {
    grid-column: 7 / span 6;
    font-family: "futura";
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

.hello h2 {
    font-size: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    margin-right: 50px;
    margin-left: 50px;
}

.hello p {
    font-size: 2vw;

}

.team {
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* Define a 12-column grid */
    gap: 16px; /* Define gaps between the grid items */
}

.team .pictures{
    /* Define styles for pictures if needed */
}


.Stef { 
    font-size: 2vw;
    grid-column: 2 / span 2;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: white;
    font-family: "futura";
}

.Jazz {
    font-size: 2vw;
    grid-column: 6 / span 2;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: white;
    font-family: "futura";
}

.Marie { 
    font-size: 2vw;
    grid-column: 10 / span 2;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: white;
    font-family: "futura";
}



