.about-title { 
    font-family: 'Rickmortytitle', sans-serif; 
    text-align: center; 
    margin: 50px 0; 
    padding-top: 50px ;
    color: #333; 
}

.about-title h1 {
    font-family: 'Rickmortytitle', sans-serif;
    font-size: 10vw; 
    margin: 0; 
    color: #23c7c1; 
    -webkit-animation: glow 3s ease-in-out infinite alternate;
    -moz-animation: glow 3s ease-in-out infinite alternate;
    animation: glow 3s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #01ff01, 0 0 20px #01ff01, 0 0 25px #01ff01, 0 0 30px #01ff01, 0 0 35px #01ff01;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 15px #01ff01, 0 0 20px #01ff01, 0 0 25px #01ff01, 0 0 30px #01ff01, 0 0 35px #01ff01, 0 0 40px #01ff01;
    }
}

.hello {
    grid-column: 7 / span 6;
    font-family: "futura";
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hello h2 {
    font-size: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: center;
    padding: 50px;
    margin-right: 50px;
    margin-left: 50px;
}

.hello p {
    font-size: 2vw;
}


.team {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    gap: 16px; 
} 

.team .pictures {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0; /* Adds space above and below the image */
}

.team .pictures img {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 0%; /* Optional: Makes the image circular */
}

.Stef { 
    grid-column: 2 / span 2;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.Stef h1 { 
    font-size: 3vw;
    color: white;
    font-family: "futura";
}

.Stef h2 { 
    font-size: 1vw;
    color: #23c7c1;
    font-family: "futura";
}
.Stef p { 
    font-size: 1vw;
    color: white;
    font-family: "futura";
}



.Jazz {
    grid-column: 6 / span 2;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.Jazz h1 { 
    font-size: 3vw;
    color: white;
    font-family: "futura";
}

.Jazz h2 {
    font-size: 1vw;
    color: #23c7c1;
    font-family: "futura";
}

.Jazz p {
    font-size: 1vw;
    color: white;
    font-family: "futura";
}

.Marie { 
    grid-column: 10 / span 2;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.Marie h1 { 
    font-size: 3vw;
    color: white;
    font-family: "futura";
}

.Marie h2 { 
    font-size: 1vw;
    color: #23c7c1;
    font-family: "futura";
}

.Marie p { 
    font-size: 1vw;
    color: white;
    font-family: "futura";
}



@media (max-width: 768px) {
    .about-title h1 {
        font-size: 15vw;
    }

    .hello {
        grid-column: 1 / span 12;
        padding: 20px;
    }

    .hello h2 {
        font-size: 8vw;
    }

    .hello p {
        font-size: 4vw;
    }

    .team {
        grid-template-columns: repeat(6, 1fr);
    }


    .team {
        grid-template-columns: repeat(4, 1fr);
    }

    .Stef, .Jazz, .Marie {
        grid-column: span 6;
        text-align: center;
    }

    .Stef h2, .Jazz h2, .Marie h2 {
        font-size: 4vw;
    }

    .Stef p, .Jazz p, .Marie p {
        font-size: 2vw;
    }
}


@media (max-width: 600px) {
    .about-title h1 {
        font-size: 20vw;
    }

    .hello {
        grid-column: 1 / span 12;
        padding: 10px;
    }

    .hello h2 {
        font-size: 10vw;
    }

    .hello p {
        font-size: 5vw;
    }

    .team {
        grid-template-columns: repeat(4, 1fr);
    }

    .Stef, .Jazz, .Marie {
        grid-column: span 4;
        text-align: center;
    }

    .Stef h2, .Jazz h2, .Marie h2 {
        font-size: 6vw;
    }

    .Stef p, .Jazz p, .Marie p {
        font-size: 3vw;
    }
}
