body {
    margin: 0;
    padding: 0;
}

.about-title {
    font-family: 'Rickmortytitle', sans-serif;
    text-align: center;
    margin: 50px 0;
    padding-top: 50px;
    color: #333;
}

.about-title h1 {
    font-family: 'Rickmortytitle', sans-serif;
    font-size: 10vw;
    margin: 0;
    color: #23c7c1;
    -webkit-animation: glow 3s ease-in-out infinite alternate;
    -moz-animation: glow 3s ease-in-out infinite alternate;
    animation: glow 3s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #01ff01, 0 0 20px #01ff01, 0 0 25px #01ff01, 0 0 30px #01ff01, 0 0 35px #01ff01;
    }

    to {
        text-shadow: 0 0 10px #fff, 0 0 15px #01ff01, 0 0 20px #01ff01, 0 0 25px #01ff01, 0 0 30px #01ff01, 0 0 35px #01ff01, 0 0 40px #01ff01;
    }
}

.hello {
    grid-column: 7 / span 6;
    font-family: "futura";
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hello h2 {
    font-size: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: center;
    margin-bottom: 0;

}

.hello h4 {
    font-size: 2.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 5vw;


}

.team {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    gap: 16px;
    margin-bottom: 100px;
}

.team .pictures {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    /* Adds space above and below the image */
}

.team .pictures img {
    width: 60%;
    /* Adjust the width as needed */
    height: auto;
    /* Maintain the aspect ratio */
    border-radius: 0%;
    /* Optional: Makes the image circular */
}

.Stef {
    grid-column: 2 / span 3;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: left;
    width: 100%;


    background-color: rgb(137, 119, 255, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 10px 10px 10px rgba(14, 203, 83, 0.466);
}

.Stef h2 {
    font-size: 3vw;
    color: white;
    font-family: "futura";
    margin-bottom: 0;
}

.Stef h4 {
    font-size: 1.2vw;
    color: #23c7c1;
    font-family: "futura";
    text-align: center;
    padding: 20px;
    padding-top: 0;
}

.Stef p {
    font-size: 1.8vw;
    color: white;
    font-family: "futura";
    text-align: center;
    padding: 20px;
}



.Jazz {
    grid-column: 6 / span 3;
    margin-top: 0;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;

    background-color: rgb(137, 119, 255, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 10px 10px 10px rgba(14, 203, 83, 0.466);
}

.Jazz h2 {
    font-size: 3vw;
    color: white;
    font-family: "futura";
    margin-bottom: 0;
}

.Jazz h4 {
    font-size: 1.2vw;
    color: #23c7c1;
    font-family: "futura";
    text-align: center;
    padding: 20px;
    padding-top: 0;
}

.Jazz p {
    font-size: 1.8vw;
    color: white;
    font-family: "futura";
    text-align: center;
    padding: 20px;
}

.Marie {
    grid-column: 10 / span 3;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;

    background-color: rgb(137, 119, 255, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 10px 10px 10px rgba(14, 203, 83, 0.466);
}

.Marie h2 {
    font-size: 3vw;
    color: white;
    font-family: "futura";
    margin-bottom: 0;
}

.Marie h4 {
    font-size: 1.2vw;
    color: #23c7c1;
    font-family: "futura";
    text-align: center;
    padding: 20px;
    padding-top: 0;
}

.Marie p {
    font-size: 1.8vw;
    color: white;
    font-family: "futura";
    text-align: center;
    padding: 20px;
}

.Marie h3,
.Jazz h3,
.Stef h3 {

    font-size: 1.2vw;
    color: #23c7c1;
    font-family: "futura";
    text-align: center;


}



@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .about-title h1 {
        font-size: 15vw;
    }

    .hello {
        grid-column: 1 / span 12;
        padding: 20px;
    }

    .hello h2 {
        font-size: 8vw;
    }

    .hello p {
        font-size: 4vw;
    }


    .team {
        grid-template-columns: 40px repeat(9, 1fr) 40px;
    }

    .Stef {
        grid-column: 2 / span 3;
        text-align: center;
        padding: 0;
    }

    .Jazz {
        grid-column: 5 / span 3;
        text-align: center;
        padding: 0;
    }

    .Marie {
        grid-column: 8 / span 3;
        text-align: center;
        padding: 0;
    }




    .Stef h2,
    .Jazz h2,
    .Marie h2 {
        font-size: 1.5vw;
        padding: 20px;
    }

    .Stef p,
    .Jazz p,
    .Marie p {
        font-size: 2vw;
        padding: 20px;
    }
}


@media only screen and (max-width: 768px) {
    .about-title h1 {
        font-size: 20vw;
    }

    .hello {
        grid-column: 1 / span 12;
        padding: 10px;
    }

    .hello h2 {
        font-size: 7vw;
    }

    .hello p {
        font-size: 5vw;
    }

    .team {
        grid-template-columns: 50px 1fr 50px;
    }

    .Stef,
    .Jazz,
    .Marie {
        grid-column: 2 / span 1;
        text-align: center;
        margin-bottom: 50px;
    }

    .Stef h1,
    .Jazz h1,
    .Marie h1 {
        font-size: 5vw;
        margin: 0;
        margin-top: 3vw;

    }

    .team .pictures img {
        width: 40%;
        /* Adjust the width as needed */
        height: auto;
        /* Maintain the aspect ratio */
        border-radius: 0%;
        /* Optional: Makes the image circular */
    }

    .Stef h2,
    .Jazz h2,
    .Marie h2 {
        font-size: 3vw;
    }

    .Stef p,
    .Jazz p,
    .Marie p {
        font-size: 3.5vw;
        margin: 0;
    }
}