body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1vw;
}

.character-card {
    width: 20vw;
    background-color: rgb(208, 208, 208);
    border-radius: 10px;
    margin: 2vw;
    padding: 2vw;
    box-shadow: 0 4px 6px rgba(1, 255, 5, 0.466);
}

.character-card img {
    width: 100%;
    border-radius: 5px;
}

.character-card h3 {
    margin-top: 10px;
    font-weight: bold;
}

.character-card p {
    margin-top: 5px;
    color: #666;
    font-size: 14px;
}