body{
    color: white;
}


.episode-title {
    font-family: 'Rickmortytitle', sans-serif; 
    text-align: center; 
    margin: 50px 0; 
    padding: 50px ;
    
}

.episode-title h1 {
    font-family: "Rickmortytitle";
    font-size: 10vw; 
    margin: 0; 
    color: #23c7c1; 
    
}

.episode-title h1:hover {
    -webkit-animation: glow 3s ease-in-out infinite alternate;
    -moz-animation: glow 3s ease-in-out infinite alternate;
    animation: glow 3s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #01ff01, 0 0 20px #01ff01, 0 0 25px #01ff01, 0 0 30px #01ff01, 0 0 35px #01ff01;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 15px #01ff01, 0 020px #01ff01, 0 0 25px #01ff01, 0 0 30px #01ff01, 0 0 35px #01ff01, 0 0 40px #01ff01;
    }
  }

.searchbyname {
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-top: 4vw
}

.searchbyname input[type="text"] {
    width: 40vw;
    padding: 10px;
    padding-left: 2vw;
    font-size: 1.5vw;
    border: 1px solid #ccc;
    background-color: rgb(239, 227, 255);
    border-radius: 30px;
    box-sizing: border-box;
}

/* Optional: Style placeholder text */
.searchbyname input[type="text"]::placeholder {
    color: #999;
    /* Adjust placeholder color as needed */
}

/* Optional: Style when the input field is focused */
.searchbyname input[type="text"]:focus {
    outline: none;
    /* Remove default focus outline */
}
/* Container for all episode elements */
.container {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adds subtle shadow for depth */
}

/* Grid layout for episodes */
.episode-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Creates a responsive grid */
    gap: 20px; /* Space between episodes */
    padding: 20px;
}

/* Styling for each episode block */
.episode {
    background-color: rgb(137, 119, 255, 0.3);
    border: 1px solid #ddd; /* Adds a subtle border */
    padding: 15px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1); /* Soft shadow for 3D effect */
}

.episode h2 {
    color: #ffffff;
}

.episode p {
    color: #ffffff;
}

