body {
    background-image: url(img/Background.png);
    background-attachment: fixed;
    width: 100%;
}

main {
    display: grid;
    grid-template-columns: 40px repeat(12, 1fr) 40px;
}

.banner {
    grid-column: 1 / span 14;
    position: relative;
    height: 750px;
}

.video {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    overflow: hidden;
    z-index: -1;
}

.video video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.title-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-self: center;
    z-index: 1;
    color: #37ff00;
}

.title-overlay img {
    width: 70vw;
}

.characters {
    padding-top: 150px;
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.portal1 {
    grid-column: 1 / span 6;
    display: flex;
    justify-content: center;
}

.portal1 img {

    width: 350px;
}

.character-text {
    grid-column: 7 / span 6;
    color: white;
    padding-top: 100px;
}

.character-text h2 {
    font-size: 5vw;
    margin: 0;
}

.character-text p {
    font-size: 2vw;
    padding-top: 20px;
}

.character-text a {
    text-decoration: none;
    font-size: 1.5vw;
    color: black;
}





.episodes {
    padding-top: 100px;
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.portal2 {
    grid-column: 7 / span 6;
    display: flex;
    justify-content: center;
}

.portal2 img {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    width: 350px;
}

.episodes-text {
    grid-column: 2 / span 5;
    color: white;
    justify-self: start;
    padding-top: 100px;
}

.episodes-text h2 {
    font-size: 5vw;
    margin: 0;
}

.episodes-text p {
    font-size: 2vw;
    padding-top: 20px;
}

.episodes-text a {
    text-decoration: none;
    font-size: 1.5vw;
    color: black;
}





.locations {
    padding-top: 100px;
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.portal3 {
    grid-column: 1 / span 6;
    display: flex;
    justify-content: center;
}

.portal3 img {

    width: 350px;
}

.locations-text {
    grid-column: 7 / span 6;
    color: white;
    padding-top: 100px;
}

.locations-text h2 {
    font-size: 5vw;
    margin: 0;
}

.locations-text p {
    font-size: 2vw;
    padding-top: 20px;
}

.locations-text a {
    text-decoration: none;
    font-size: 1.5vw;
    color: black;

}


.random_character {
    padding-top: 100px;
    grid-column: 4 / span 8;
    display: flex;
    justify-content: center;
}

.random_character h3 {
    color: white;
}


.button_html {
    padding: 15px;
    padding-right: 20px;
    padding-left: 20px;
    border: none;
    background-color: yellowgreen;
    border-radius: 30px;
    text-align: center;
}

.button_html:hover {
    background-color: green;
}