@font-face {
    font-family: "Rickmortytitle";
    src: url(fonts/get_schwifty.ttf);
  }

body {
    background-image: url(img/Background.png);
    background-attachment: fixed;
    width: 100%;
}

main {
    display: grid;
    grid-template-columns: 40px repeat(12, 1fr) 40px;
}

.banner {
    grid-column: 1 / span 14;
    position: relative;
    height: 55vw;
}

.video {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -1;
}

.video video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.title-overlay {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 54%;
    transform: translate(-50%, -50%);
    align-self: center;
    z-index: 1;

}

.title-overlay h1 {
    font-family: "rickmortytitle";
    color: aqua;
    font-size: 15vw;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 0.3vw;

   
}

.title-overlay h1:hover {
    -webkit-animation: glow 3s ease-in-out infinite alternate;
    -moz-animation: glow 3s ease-in-out infinite alternate;
    animation: glow 3s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #01ff01, 0 0 20px #01ff01, 0 0 25px #01ff01, 0 0 30px #01ff01, 0 0 35px #01ff01;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 15px #01ff01, 0 020px #01ff01, 0 0 25px #01ff01, 0 0 30px #01ff01, 0 0 35px #01ff01, 0 0 40px #01ff01;
    }
  }








.characters {
    padding-top: 10vw;
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.characters_images {
    grid-column: 1 / span 6;
    display: flex;
    justify-content: center;
    position: relative;
}

.portal1 {
    position: relative;
    width: 27vw;
}

.character1 {
    position: absolute;
    top: 8vw;
    width: 25vw;
    animation: circleone 15s linear infinite;

}


@keyframes circleone {
    0% {
        transform: rotate(0deg) translateX(14vw) translateY(6vw) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translateX(14vw) translateY(6vw) rotate(-360deg);
    }
}

.character2 {
    position: absolute;
    top: 15vw;
    width: 6vw;
    animation: circletwo 7s linear infinite;
  
}


@keyframes circletwo {
    0% {
        transform: rotate(0deg) translateX(7vw) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translateX(7vw) rotate(-360deg);
    }
}

.character3 {
    position: absolute;
    top: 19vw;
    right: 20vw;
    width: 3vw;
    animation: circlethree 5s linear infinite;

}


@keyframes circlethree {
    0% {
        transform: rotate(0deg) translateX(0vw) rotate(-360deg);
    }

    100% {
        transform: rotate(360deg) translateX(0vw) rotate(0deg);
    }
}


.portal1:hover {
    animation: zitternicht 0.5s;
    animation-iteration-count: infinite;
}

.character-text {
    grid-column: 7 / span 6;
    color: white;
    padding-top: 10vw;
}

.character-text h2 {
    font-size: 5vw;
    margin: 0;
}

.character-text p {
    font-size: 2vw;
    padding-top: 3vw;
}

.character-text a {
    text-decoration: none;
    font-size: 1.5vw;
    color: black;
}








.episodes {
    padding-top: 8vw;
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.episodes_images {
    grid-column: 7 / span 6;
    display: flex;
    justify-content: center;
    position: relative;
}

.episode1 {
    position: absolute;
    top: 16vw;
    width: 14vw;
    animation: circlefour 17s linear infinite;
    border: 0.2vw solid greenyellow;
}


@keyframes circlefour {
    0% {
        transform: rotate(0deg) translateX(12vw) translateY(6vw) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translateX(12vw) translateY(6vw) rotate(-360deg);
    }
}

.episode2 {
    position: absolute;
    top: 20vw;
    width: 9vw;
    animation: circlefive 10s linear infinite;
    border: 0.2vw solid greenyellow;
}


@keyframes circlefive {
    0% {
        transform: rotate(0deg) translateX(10vw) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translateX(10vw) rotate(-360deg);
    }
}


.portal2:hover {
    animation: zitternicht 0.5s;
    animation-iteration-count: infinite;
}

.portal2 {
    position: relative;
    width: 27vw;
}

.episodes-text {
    grid-column: 2 / span 5;
    color: white;
    justify-self: start;
    padding-top: 10vw;
}

.episodes-text h2 {
    font-size: 5vw;
    margin: 0;
}

.episodes-text p {
    font-size: 2vw;
    padding-top: 3vw;
}

.episodes-text a {
    text-decoration: none;
    font-size: 1.5vw;
    color: black;
}








.locations {
    padding-top: 8vw;
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.locations_images {
    grid-column: 1 / span 6;
    display: flex;
    justify-content: center;
    position: relative;
}

.portal3 {
    position: relative;
    width: 25vw;
}


.location1 {
    position: absolute;
    top: 16vw;
    width: 14vw;
    animation: circleseven 20s linear infinite;
    border: 0.2vw solid greenyellow;
}


@keyframes circleseven {
    0% {
        transform: rotate(0deg) translateX(15vw) translateY(6vw) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translateX(15vw) translateY(6vw) rotate(-360deg);
    }
}

.location2 {
    position: absolute;
    top: 20vw;
    width: 9vw;
    animation: circleeight 12s linear infinite;
    border: 0.2vw solid greenyellow;
}

@keyframes circleeight {
    0% {
        transform: rotate(0deg) translateX(10vw) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translateX(10vw) rotate(-360deg);
    }
}

.location3 {
    position: absolute;
    top: 19vw;
    right: 20vw;
    width: 3vw;
    animation: circlenine 3s linear infinite;
    border: 0.2vw solid greenyellow;
}


@keyframes circlenine {
    0% {
        transform: rotate(0deg) translateX(0.5vw) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translateX(0.5vw) rotate(-360deg);
    }
}



.portal3:hover {
    animation: zitternicht 0.5s;
    animation-iteration-count: infinite;
}

.locations-text {
    grid-column: 7 / span 6;
    color: white;
    padding-top: 10vw;
}

.locations-text h2 {
    font-size: 5vw;
    margin: 0;
}

.locations-text p {
    font-size: 2vw;
    padding-top: 3vw;
}

.locations-text a {
    text-decoration: none;
    font-size: 1.5vw;
    color: black;

}


.random_character {
    padding-top: 100px;
    grid-column: 4 / span 8;
    display: flex;
    justify-content: center;
}

.random_character h3 {
    color: white;
}


.button_html {
    padding: 1vw 2.5vw;
    font-size: 1.4vw;
    color: #081f0a;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: yellowgreen;
    border-radius: 30px;
    box-shadow: 0 0.4vw #1a602099;
    
}

.button_html:hover {
    background-color: #199f24;
}

.button_html:active{
    background-color: #199f24;
    box-shadow: 0 0.2vw #1a602099;
    transform: translateY(0.4vw);
}

@keyframes zitternicht {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}