@font-face {
  font-family: "Rickmortytitle";
  src: url(fonts/get_schwifty.ttf);
}

body {
  background-image: url(img/Background.png);
  background-attachment: fixed;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 0px 2vw;
  position: sticky;
  top: 0;
  background: #8e8e8e1a;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 1;
}

header img {
  width: 14vw;
  padding: 0vw;
}

.logo {
  padding: 0vw;
}


.header-right a {
  font-family: 'Futura', sans-serif;
  font-size: 1.9vw;
  color: rgb(47, 255, 172);
  text-decoration: none;
  margin:2vw
}

.header-right a:hover {
  color: #ff46d7;
}





footer {

  grid-column: 2/ span 12;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat (6, 1fr);


  overflow: hidden;
  padding: 0px 2vw;
  position: sticky;
  top: 0;
  background: #000000f6;

}

.footer_pic {
  grid-column: 1/ span 3;
  grid-row: 1/ span 6;
}

footer img {

  width: 100%;
  padding: 0vw;

}


.footer-right {
  grid-column: 5/ span 3;
  grid-row: 2/ span 5;
  display: flex;
  width: 35vw;
  flex-direction: column;
  align-items: start;
  padding: 0px;
  margin: 0px;

  display: flex;
  justify-content: start;

}

.footer-right a {

  color: rgb(17, 253, 0, 0.7);
  text-decoration: none;
  font-size: 1.7vw;
  margin-top: 25px;
  font-family: 'Futura', sans-serif;
  font-size: 35px;
  color: #ffffff;
  text-decoration: none;
}

.footer-right a:hover {
  color: rgba(17, 253, 0);

}


.logo_footer {
  grid-column: 5/ span 3;
  grid-row: 1/ span 1;
  display: flex;
  width: 20vw;
  justify-content: start;
  padding-top: 30px;
}