body {
  background-color: rgb(9, 1, 25);
}

header {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 0px 2vw;
  position: sticky;
  top: 0;
  background: #8e8e8e1a;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

header img {
  width: 14vw;
  padding: 0vw;
}

.logo {
  padding: 0vw;
}

.header-right {
  display: flex;
  width: 35vw;
  justify-content: space-around;
  align-items: center;

}

.header-right a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.7vw;
}