body {
  background-color: rgb(9, 1, 25);
}

header {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: #15105a6b;
  padding: 0px 30px;
}

header img {
  width: 200px;
  padding: 0;
}

.logo {
  padding: 0;
}

.header-right {
  display: flex;
  justify-content: space-around;

}

.header-right a {

  align-items: start;
  color: rgb(255, 255, 255);
  text-align: center;
  justify-self: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}